@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*----------Colors*/

.bg-color {
    background-color: #d50000;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff
}

a:hover {
    color: #000;
    background-color: #9b0000;
}

/*----------Header*/

header {
    margin: 0;
}

.heading {
    margin: 0;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.logo {
    background: url("..images/corner-cafe-logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.navbar {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color:#fff;
    text-align: center;
    display: inline;
}

/*----------Content*/

{

}