@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*----------Colors*/

.bg-color-heading {
    background-color: #69f0ae;
}

/*----------Header*/

header {
    margin: 0;
}

.heading {
    text-align: center;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.main-logo {
    background-color: #69f0ae;
}